.client_data_column {
  display: grid;
  place-items: center center;
  grid-gap: 20px;
  margin: 30px;
}

.client_data_column_card {
  min-width: 400px;
  max-width: 600px;
}

.client_data_column_card_content {
  text-align: center;
}
