/* @font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto")
} */

@font-face {
  font-family: Delicious;
  src: url("/fonts/Delicious-Roman.otf")
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Light.otf")
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("/fonts/Roboto-Bold.otf")
}