
/* Default (mobile portrait) */
.register {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "image"
    "form";
}

.register_image {
  grid-area: image;
  background: #0E693E;
}

.register_form {
  grid-area: form;
}

@media screen and (min-width: 900px) {
  .register {
    grid-template-columns: 385px 385px;
    grid-template-rows: 100vh;
    grid-template-areas: 
      "image form";
  }


}